[Unit]
Description=Launch the TestMarketPlace Flask server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/TestMarketPlace/.venv/bin/gunicorn --chdir /TestMarketPlace --bind 0.0.0.0:80 "app:launch_app()"

[Install]
WantedBy=multi-user.target
